@import url("https://fonts.googleapis.com/css?family=Open+Sans|Libre+Baskerville");
@import "bulma/bulma.sass";

div.input-wrapper {
    input {
        display: block;

        &.icao {
            text-transform: uppercase;
        }
    }

    span[role="alert"] {
        display: inline-block;
        position: relative;
        background-color: #d51067;
        color: white;
        font-size: 0.8rem;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
    }
}
